@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: rgb(0, 0, 0);
  height: 18.5vh;
  position: sticky;
  top:0px
  
}
ul {
  display: flex;
  justify-content: right;
  align-items: right;
  padding-top: 4.5vh;
}
ul li {
  display: inline-block;
  padding: 18px;
  list-style-type: none;
  font-size: 1.1em;
  font-family: "Press Start 2P", cursive;
}
ul li a:hover{
    background-color: rgb(17, 177, 78);
    border: 2px solid rgb(0, 128, 111);
    border-radius: 3px;
    height: 1.3em;
}
ul li a {
  text-decoration: none;
  color: white;
}
.logo {
  float: left;
}
@media screen and (min-width:1060px) {
  header nav .menu {
    display: none;
  }
}
@media screen and (max-width:1060px) {
  .menubtn {
    background-color: rgb(0, 0, 0);
    
  }
  .menu {
    position: relative;
    float: right;
    margin-right: 85px;
    margin-top: -40px;
    font-family: "Press Start 2P", cursive;
  }
  .items {
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 5px 5px 5px 5px rgb(25, 161, 20);
    background-color: black;
    transition: all 0.6s ease-in-out;
    padding-right: 3vw;
  }
  .items a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 22px;

  }
  .items a:hover {
    background-color: rgb(17, 177, 78);
  }
  .menu:hover .items {
    display: block;
  }
  ul li a {
    display: none;
  }
}

.home {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12.5vh;
}
.intro h1 {
  font-family: "Orbitron", sans-serif;
  animation: typeanimate 10s infinite ease-in-out;
}
@keyframes typeanimate {
  0%{
    color: white;

  }
  40%{
    color: yellowgreen;
  }
  50%{
    color: rgb(52, 255, 52);
  }
  100%{
    color:white
  }

}
.b1 {
  background-color: rgb(67, 179, 67);
  height: 0.5vh;
  animation: infinite 10s blink;
}
.b2 {
  background-color: rgb(67, 179, 67);
  height: 0.5vh;
  animation: infinite 10s blink;
}
.about {
  background-color: black;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about p {
  color: white;
  font-family: "Orbitron", cursive;
  font-size: 1.3em;
  border-radius: 2px;
  padding: 2vh;
}
  
.b3 {
  background-color: rgb(67, 179, 67);
  height: 0.5vh;
  animation: infinite 10s blink;
}

.socials{
  background-color: black ;
  padding: 5vh;
  height: 80vh;
}
.socials h1{
  color: rgb(18, 151, 0);
  font-family: "Orbitron", cursive;
  padding-bottom: 10vh;

}

@keyframes blink {
  0%{
    background-color: rgb(18, 126, 18);
  }
  50%{
      background-color: rgb(0, 0, 0);
  }
  100%{
      background-color: rgb(4, 129, 0);
  }
  
  
}
.socials .gt{
  float:right;
  color: white;
  height: 40vh;
  width: 40%; 
  
}

.socials .gt a img:hover{
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px solid rgb(0, 0, 0);
}
.socials .gt a img{
  transition-property: width;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.5s;
}
.socials .dc a img:hover{
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px solid rgb(0, 0, 0);
}
.socials .dc a img{
  transition-property: width;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.5s;
}


.socials .gt p{
  padding: 6vh;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.dc p{
  padding: 6vh;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.socials .dc{
  color: white;
  height: 40vh;
  width: 40%;
  float: left;
}
@media screen and (max-width:650px) {
  .socials .gt{
    height: 40vh;
    
}
.socials .dc{
  height: 40vh;
}
}
